body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div.sheet {
  padding: 4em;
  background-color: lightgrey;
}
div.header {
  background-color: rgb(48, 86, 168);
  color: aliceblue;
  text-align: center;
  display: flex;
  flex-direction: row;
  padding: 0em;
  position: sticky;
  top: 0;
}
img {
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  padding-right: 0em;
}
div.title {
  flex: 1;
}
h1 {
  font-weight: lighter;
  font-size: calc(1rem + 2vw);
}
h2 {
  padding-bottom: 1em;
  font-weight: lighter;
  font-size: calc(0.5rem + 1vw);
}
div.left {
  background-color: aliceblue;
  color: rgb(4, 4, 55);
  padding-top: 1em;
  padding-left: 1.75em;
  padding-bottom: 1em;
  padding-right: 1em;
  flex: 3;
}
div.right {
  background-color: rgb(220, 230, 239);
  color: rgb(4, 4, 55);
  padding-top: 1em;
  padding-left: 1.75em;
  padding-bottom: 1em;
  padding-right: 1em;
  flex: 0.7;
}
div.main {
  display: flex;
  flex-direction: row;
}
h3 {
  text-transform: uppercase;
  font-size: calc(0.1rem + 1vw);
  padding-top: 3em;
  padding-bottom: 1em;
}
h4 {
  text-transform: uppercase;
  font-size: calc(0.1rem + 1vw);
  padding-top: 3em;
  padding-bottom: 1em;
}
p {
  font-size: calc(0.08em + 1vw);
}
a {
  font-size: calc(0.08em + 1vw);
  color: blue;
}
a:visited {
  color: blueviolet;
}
p.name {
  padding-top: 1em;
  font-weight: bold;
}
#profile {
  padding-left: 2em;
  padding-right: 2em;
  text-align: justify;
}
li {
  font-size: calc(0.08em + 1vw);
  padding-bottom: 0.5em;
}
