h1 {
  padding: 2em;
}

div.header {
  border: 2px solid red;
}
div.left {
  border: 2px solid blue;
  padding: 2em;
  flex: 3;
}
div.right {
  border: 2px solid green;
  padding: 2em;
  flex: 1;
}
div.main {
  display: flex;
  flex-direction: row;
}
