body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div.sheet {
  /*padding-top: 4em;
  padding-left: 4em;
  padding-bottom: 4em;
  padding-right: 6em;*/
  padding: 4em;
  background-color: lightgrey;
}
div.header {
  background-color: rgb(48, 86, 168);
  /*background-color: rgb(114, 161, 198);*/
  color: aliceblue;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex: 1;
  padding: 0em;
}
img {
  padding-top: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
  padding-right: 0em;
}
div.title {
  flex: 1;
  /*text-align: center;*/
}
h1 {
  /*border: 1px solid red;*/
  padding-left: 0em;
  font-weight: lighter;
  /*font-size: 3em;*/
  font-size: calc(1rem + 2vw);
}
h2 {
  padding-bottom: 1em;
  font-weight: lighter;
  /*font-size: 1.5em;*/
  font-size: calc(0.5rem + 1vw);
}
div.left {
  /*border: 2px solid grey;*/
  background-color: aliceblue;
  /*padding: 2em;*/
  padding-top: 1em;
  padding-left: 1.75em;
  padding-bottom: 1em;
  padding-right: 1em;
  flex: 3;
}
div.right {
  /*border: 2px solid grey;*/
  background-color: rgb(220, 230, 239);
  /*padding: 2em;*/
  padding-top: 1em;
  padding-left: 1.75em;
  padding-bottom: 1em;
  padding-right: 1em;
  flex: 0.7;
}
div.main {
  display: flex;
  flex-direction: row;
}
h3 {
  text-transform: uppercase;
  font-size: calc(0.1rem + 1vw);
  padding-top: 3em;
  padding-bottom: 1em;
}
h4 {
  text-transform: uppercase;
  font-size: calc(0.1rem + 1vw);
}
p {
  font-size: calc(0.08em + 1vw);
}
a {
  font-size: calc(0.08em + 1vw);
}
p.name {
  padding-top: 1em;
  font-weight: bold;
}
li {
  font-size: calc(0.08em + 1vw);
  padding-bottom: 0.5em;
}
